<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.mis.dao.DataAuthMapper">
	<resultMap id="BaseResultMap"
		type="com.allmsi.mis.model.po.DataAuth">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="objId" property="objId" jdbcType="VARCHAR" />
		<result column="authId" property="authId" jdbcType="VARCHAR" />
		<result column="authType" property="authType"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, objId, authId, authType
	</sql>
	<select id="selectByObjIdAndUserId" resultMap="BaseResultMap"
		parameterType="com.allmsi.mis.model.po.DataAuth">
		select id, objId, authId, authType
		from im_tc_data_auth where objId = #{objId,jdbcType=VARCHAR} and authId =
		#{authId,jdbcType=VARCHAR}
	</select>
	<insert id="insertDataAuthBantch" parameterType="java.util.List">
		insert into im_tc_data_auth (id, objId, authId,authType)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id}, #{item.objId},
			#{item.authId},#{item.authType})
		</foreach>
	</insert>
	<delete id="deleteByObjIdAndAuthId" parameterType="com.allmsi.mis.model.po.DataAuth">
		delete from im_tc_data_auth
		where objId = #{objId,jdbcType=VARCHAR} and authId =#{authId,jdbcType=VARCHAR}
	</delete>
</mapper>